<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="urf-8">
    <title></title>
  </head>
  <body>
    <h1>Create question</h1>
    <form action="/tests/<%= params[:test_id] %>/questions" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    Body: <input type="text" name="question[body]" /><br />
    <input type="submit" value="Create" />
    </form>
  </body>
</html>