<hr>
<footer class="footer">
    <a href="https://thinknetica.com/" target="blank">Test Guru - Учебный проект в онлайн-школе Thinknetica</a>
    <p>
     Author: <%= github_url("ssinelnik", "TestGuru2" ) %>

     Year: <%= current_year %>
    </p>
  </small>
</footer>
